@import 'reset.css';
@import 'theme.css';

@import 'npm:@reach/dialog/styles.css';

.root {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-grey20);
}

canvas {
  image-rendering: pixelated;
}
